/* astrix wildcard selector  to override default settingassed by the browser*/
*{
    padding:0;
    margin:0;
    box-sizing: boarder-box;
}
body
{
    min-height: 100 vh;
    display:flex;
    flex-direction: column;
    /*generic project styles*/
    color: #3a3a3a;

}
/*header*/
header 
{
    background-color: lightcoral;
}
/*main*/
main 
{
    background-color: lightblue;
    flex: 1 0 auto;
    /*main element to fill space*/
}
/*footer*/
footer
{
    background-color: orange;
}